/*GLOBAL Website Styles*/
/* CSS Reset */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
}

img {
    width: 100%;
    height: auto;
}

/* End of RESETS */

html {
    background-color: #f5f5f5;
}

body {
    display: block;
    position: relative;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

main {
    background-color: #f5f5f5;
    width: 98%;
    margin: auto;
}

div.logo-box {
    width: 80px;
}

div.logo-box h1 {
    font-size: 2.5em;
    margin-left: 0.25em;
    margin-bottom: 0.05em;
}

div.logo-box h1 a {
    color: #000;
    text-decoration: none;
}

div.subheader-box {
    margin: 1em 0.75em;
}

/* Button Styles*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index: 1000;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #000;
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

#myBtn:hover {
    background-color: #555;
}

/* Gallery  */

.grid-container {
    margin: 0.5em 1%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 1em;
    background: #f5f5f5;
}

.grid-container.gallery {
    margin: 0.5em;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 4px;
    background: #f5f5f5;
}

.grid-container .item {
    border-radius: 15px;
    overflow: hidden;
}

/* About Me Section  */

.flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
}

.flex-container1 .about {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-basis: 288.5px;
    background: #000;
    padding: 1.5em 2.6em;
    min-height: 240px;
    color: #f5f5f5;
    border-radius: 15px;
}

.flex-container1 .about p {
    text-align: justify;
    text-justify: inter-character;
}

.flex-container1 .about .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container1 .about.visual {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
    background: #f5f5f5;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 1.5em 0;
}

/* Service Section 'Front Page' */

.flex-container2 {
    display: flex;
    justify-content: space-around;
    background: #f5f5f5;

    height: 1.5em;
    margin: 20px 0 10px 0;
}

.flex-container2 .line-box {
    display: flex;
    background: #f5f5f5;
    border-bottom: 2px solid #000;
    height: 0.75em;
    width: 30%;
}

.flex-container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 0.75em;
    background: #f5f5f5;
}

.flex-container3 .link-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75em;
    width: 175px;
    height: 155px;
    background: #f5f5f5;
    border: 3px solid #000;
    border-radius: 10px;
    background-image: url("../images/photo-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: rgb(63, 63, 61) 1px 0 10px;
}

.flex-container3 .link-btn:nth-child(2) {
    background-image: url("../images/video-unsplashed.jpg");
}

.flex-container3 .link-btn:nth-last-child(1) {
    background-image: url("../images/events-unsplash.jpg");
}

.flex-container3 .link-btn a {
    padding: 2.2em 1.3em;
    text-decoration: none;
    color: #f5f5f5;
    font-size: 1.5em;
    text-align: center;
}

/* 'Service' Page Sections  */

.flex-container1 {
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
}

.flex-container1 .about h4 {
    margin: 0.25em 0;
    align-self: flex-start;
}

.flex-container1.events-section {
    margin-bottom: 0.75em;
}

.flex-container1.video-section {
    flex-direction: row-reverse;
}

.flex-container1.events-section .about a {
    color: f5f5f5;
}

/* Footer  */

.flex-container4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #000;
    margin-top: 0.5em;
    border-radius: 15px;
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 95%, #414141 99%);
}

.flex-container4 .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5em;
    width: 175px;
    height: 100px;
    color: #f5f5f5;
}

.footer-link p.social {
    font-size: 1.5em;
}

.footer-link .link {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.footer-link .link a {
    font-size: 1em;
    text-decoration: none;
    padding: 0.4em 0.75em;
    width: 4em;
}

.footer-link p.contact a {
    font-size: 1.75em;
    text-decoration: none;
    padding: 0.5em 0.2em;
}

.footer-link p.copyright {
    text-align: center;
}
.footer-link a {
    color: #f5f5f5;
}

/* Media Inquiry */

/*  Lrg Phone/ Small Tablet Breakpoint */
@media screen and (min-width: 578px) {
    main {
        width: 90%;
    }

    .grid-container {
        margin: 0.5em 4%;
        grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }

    .flex-container1.events-section .about.visual {
        border: 2px solid black;
        padding: 1.5em 2.5em;
    }
}

/* Service Page Tablet-Desktop Breakpoint */
@media screen and (min-width: 643px) {
    .flex-container1 {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-container1.video-section {
        flex-direction: row-reverse;
    }
}

/* Width Desktop Breakpoint */
@media screen and (min-width: 968px) {
    main {
        width: 85%;
    }
}

/* Width LRG Desktop Breakpoint */
@media screen and (min-width: 1320px) {
    body {
        width: 1320px;
        margin: auto;
    }

    .grid-container {
        gap: 1em;
    }
}
