/*GLOBAL Website Styles*/
/* CSS Reset */
html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
}

img {
    width: 100%;
}

/* End of RESETS */

html {
    background-color: rgb(100, 96, 131);
}

body {
    display: block;
    position: relative;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

main {
    background-color: #fff;
    width: 90%;
    margin: auto;
}

div.logo-box {
    width: 80px;
    background: rosybrown;
}

div.logo-box h1 {
    width: 70px;
    font-size: 2.5em;
    margin-left: 0.25em;
    margin-bottom: 0.05em;
    background: green;
}

div.logo-box h1 a {
    color: #000;
    text-decoration: none;
}

/* Gallery  */

.grid-container {
    margin: 2px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 8px;
    background: teal;
}
.grid-container .item img {
    display: block;
    border-radius: 15px;
}

.grid-container .item.item5 {
    display: none;
}

.grid-container .item.item6 {
    display: none;
}

/* About Me Section  */

.flex-container1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid #000;
    height: auto;
    width: 100%;
}

.flex-container1 .about {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-basis: 288.5px;
    background: chocolate;
    padding: 1.5em 2.6em;
    min-height: 240px;
}

.flex-container1 .about:last-child {
    background: gray;
}

.flex-container1 .about .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url(https://source.unsplash.com/random/169x134);
    background-repeat: no-repeat;
    background-size: cover;
}

/* Service Section  */

.flex-container2 {
    display: flex;
    justify-content: space-around;
    background: burlywood;
    border: 1px solid #000;
    height: 1.5em;
    margin: 10px 0;
}

.flex-container2 .line-box {
    display: flex;
    background: crimson;
    border-bottom: 2px solid black;
    height: 0.75em;
    width: 30%;
}

.flex-container3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: burlywood;
    border: 1px solid #000;
}

.flex-container3 .link-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.75em;
    width: 175px;
    height: 155px;
    background: darkcyan;
    border: 3px solid black;
    border-radius: 10px;
    background-image: url(https://source.unsplash.com/random/169x134);
    background-repeat: no-repeat;
    background-size: cover;
}

.flex-container3 .link-btn a {
    padding: 2.2em 1.3em;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    text-align: center;
}

/* Footer  */

.flex-container4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background: burlywood;
    border: 1px solid #000;
    margin-top: 10px;
}

.flex-container4 .footer-link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0.5em;
    width: 175px;
    height: 100px;
    color: whitesmoke;
    background: darkcyan;
    border: 1px solid black;
}

.footer-link p.social {
    font-size: 1.5em;
}

.footer-link div.link {
    display: flex;
    justify-content: space-around;
    text-decoration: none;
}

.footer-link div.link a {
    font-size: 1.1em;
    text-decoration: none;
    padding: 0.4em 0.75em;
}

.footer-link p.contact a {
    font-size: 1.75em;
    text-decoration: none;
    padding: 0.5em 0.2em;
}

.footer-link p.copyright {
    text-align: center;
}
.footer-link a {
    color: white;
}

/* Media Inquiry */

/* Gallery Tablet-Desktop Breakpoint */
@media (min-width: 643px) {
    .grid-container .item.item5 {
        display: block;
    }

    .grid-container .item.item6 {
        display: block;
    }
}
